{% extends "layout.twig" %}

{% block content %}
<div class="container">
	<header class="bk-header">
		<div class="clearfix">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
			{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		</div>
		{{widget('extendednavigation', 'navigationheader', {"align":"center"})|raw}}
	</header>


	<section class="bk-section">
		{{widget('feature', 'featurehome', {
			"header": "profile",
			"strapline":"profile",
			"buttonText":"Go to Gallery",
			"defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50', 'showBtn': true})|raw}}
		{{widget('gallery', 'gallery1', {
			'albumRef':0,
			'showDescription': true,
			'showTitle': true,
			'images':[
				{'imageHeight':'667',
				'imageWidth':'667',
				'url':asset('/images/gallery/gallery-image--1.jpg'),
				'title':'Image  1',
				'description': 'This is image 1'},

				{'imageHeight':'667',
				'imageWidth':'667',
				'url':asset('/images/gallery/gallery-image--2.jpg'),
				'title':'Image  2', 
				'description': 'This is image 2'},

				{'imageHeight':'667',
				'imageWidth':'667',
				'url':asset('/images/gallery/gallery-image--3.jpg'),
				'title':'Image  3',
				'description': 'This is image 3'},]}
				)|raw}}
	</section>


	<div class="main container clearfix">
		{{zone('main')|raw}}
	</div>


	<footer class="bk-footer">
		<div class="footerleft">
			{{widget('profile', 'footerprofileleft', { 'profileType' : 'socialicons' })|raw}}
		</div>
		<div class="footerright">
			{{widget('profile', 'footerprofileright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
		</div>
	</footer>
</div>

{% endblock %}
